VITE_FIREBASE_API_KEY="AIzaSyDvooJxjcsTuLee0GAVv5f0CXcU7wpovZ4"
VITE_FIREBASE_AUTH_DOMAIN="brainy-app-3740e.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="brainy-app-3740e"
VITE_FIREBASE_STORAGE_BUCKET="brainy-app-3740e.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="951337580947"
VITE_FIREBASE_APP_ID="1:951337580947:web:cc124ce610104aa2841066"